

<div class="container">
  <div class="row">
    <!-- <% if params[:controller] != "users" && params[:action] != "my_likes"%> -->
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <!-- <% end %> -->
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @photos.each do |photo| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
            <small>
              <%= time_ago_in_words(photo.updated_at)%> ago</small>
            </h3>
          </div>
          <div class="panel-body">
            <a href="/photos/<%= photo.id %>">
              <img src="<%= photo.image %>" class="img-responsive">
            </a>
            <p><%= photo.caption %></p>
            <% if photo.fans.exists?(current_user.id)  %>
            <% @like = photo.likes.find_by({:user_id => current_user.id}) %>
            <p>
              <a href="/delete_like/<%=@like.id %>" class="btn btn-link">
                <i class="fa fa-heart"></i>
              </a>
              <%= photo.fans.pluck(:username).to_sentence%>
              <% if photo.fans.count > 1 %>
              like
              <% else %>
              likes
              <% end %>
              this
            </p>
            <% else %>
            <form action="/create_like", method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <button class = "btn btn-link">

                <i class="fa fa-heart-o"></i>
              </button>
              <%= photo.fans.pluck(:username).to_sentence %>
            </p>
          </form>
          <% end %>
          <ul class="media-list">
            <li class="media">
              <div class="media-body media-left">
                <% photo.comments.each do |comment| %>
                <h6>
                  <a href="users/<%= comment.user_id %>"><%= comment.user.username %></a>
                </h6>
                <h6>
                  <%= comment.body %>
                </h6>
                <% end %>
              </div>
            </li>
            <li>
              <form action="/create_comment" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="photo_id" value="<%= photo.id %>">
                <input type="text" name="body" placeholder="Add a comment..." class="form-control">
              </form>
            </li>
          </ul>

        </div>
      </div>
      <% end %>
    </div>
  </div>
  <hr>
